body{
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}

.card .card-img{
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card .card-title{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: rgb(60, 9, 107);
}

.card .card-text{
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
}

.student{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 50%, 0.8);
}

.student p {
    margin: 0;
}

.welcome_message{
    font-size: 2.5em;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.login_prompt{
    font-size: 2.5em;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.counter-container{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.count-display{
    font-size: 10em;
    margin-top: 0;
    margin-bottom: 50px;
}

.counter-button{
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px 5px;
    background-color: aliceblue;
    color: navy;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.counter-button:hover{
    background-color: rgb(77, 165, 243);
}